<link rel="stylesheet" href="/css/main.css">

<div class="layout">
    

<div class="today">
    <div class="today_wrap">
        <div class="today_wrap-item">
            <div class="today_wrap-item_logo">
                <div class="today_wrap-item_logo-inner"></div>
            </div>
        </div>
        <div class="today_wrap-item">
            <div class="today_wrap-item_inner">

                <div class="today_wrap-item_inner-banner">
                    <div class="today_wrap-item_inner-banner_inner"></div>
                </div>

                <div class="today_wrap-item_inner-item">
                    <div class="today_wrap-item_inner-item_cont">

                        <div class="today_wrap-item_inner-item_cont-title">
                            <span class="today_wrap-item_inner-item_cont-title_item">Сегодня в кино</span>
                        </div>

                        <div class="today_wrap-item_inner-item_cont-head">
                            <span class="today_wrap-item_inner-item_cont-head_item">Планета обезьян: Война</span>
                        </div>

                        <div class="today_wrap-item_inner-item_cont-desc">
                            <span class="today_wrap-item_inner-item_cont-desc_item">Третья часть эпичной драмы</span>
                        </div>

                        <div class="today_wrap-item_inner-item_cont-tickets">
                            <span class="today_wrap-item_inner-item_cont-tickets_item">Билеты</span>
                        </div>


                        <div class="today_wrap-item_inner-item_cont-footer">

                            <div class="today_wrap-item_inner-item_cont-type">
                                <span class="today_wrap-item_inner-item_cont-type_item">Трейлер - Рецензия</span>
                            </div>

                            <div class="today_wrap-item_inner-item_cont-link">
                                <span class="today_wrap-item_inner-item_cont-link_item">Все фильмы в прокате</span>
                                <div class="today_wrap-item_inner-item_cont-link_arrow"></div>

                            </div>

                        </div>


                    </div>
                </div>



            </div>
        </div>
    </div>
</div>



</div>