.layout {
  max-width: 1100px;
  margin: 0 auto; }

.today {
  border: 1px solid #e2e2e2;
  width: 100%;
  min-height: 250px;
  max-height: 250px;
  overflow: hidden; }
  .today_wrap {
    height: 100%;
    max-height: 250px;
    display: -ms-flexbox;
    display: flex; }
    .today_wrap-item {
      height: 100%;
      width: 100%; }
      .today_wrap-item_inner {
        display: -ms-flexbox;
        display: flex; }
        .today_wrap-item_inner-item {
          height: 100%; }
          .today_wrap-item_inner-item_cont {
            height: 100%;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-direction: column;
                flex-direction: column; }
            .today_wrap-item_inner-item_cont-link {
              display: -ms-flexbox;
              display: flex;
              -ms-flex-align: center;
                  align-items: center; }
              .today_wrap-item_inner-item_cont-link_arrow {
                background-repeat: no-repeat;
                background-size: contain;
                background-image: url("/img/arrow.png");
                height: 10px;
                width: 8px;
                margin-left: 10px; }
            .today_wrap-item_inner-item_cont-title {
              padding-top: 20px;
              padding-bottom: 5px; }
              .today_wrap-item_inner-item_cont-title_item {
                font-family: Arial;
                font-weight: bold;
                font-size: 13px;
                line-height: 18px;
                color: #DC4700; }
            .today_wrap-item_inner-item_cont-head_item {
              font-family: Arial;
              font-weight: bold;
              font-size: 24px;
              line-height: 28px;
              color: #000000; }
            .today_wrap-item_inner-item_cont-desc {
              padding-bottom: 44px; }
              .today_wrap-item_inner-item_cont-desc_item {
                font-family: Arial;
                font-size: 16px;
                line-height: 18px;
                color: #5E5E5E; }
            .today_wrap-item_inner-item_cont-tickets {
              display: inline-block;
              background: #FFE789;
              width: 73px;
              height: 26px;
              display: -ms-flexbox;
              display: flex;
              -ms-flex-align: center;
                  align-items: center;
              -ms-flex-pack: center;
                  justify-content: center;
              cursor: pointer;
              margin-bottom: 10px; }
              .today_wrap-item_inner-item_cont-tickets_item {
                font-family: Helvetica Neue;
                font-weight: bold;
                font-size: 13px;
                line-height: 16px;
                text-align: center;
                color: #000000; }
            .today_wrap-item_inner-item_cont-footer {
              font-family: Arial;
              font-style: normal;
              font-weight: normal;
              font-size: 15px;
              line-height: 25px;
              color: #000000;
              padding-bottom: 30px; }
        .today_wrap-item_inner-banner {
          margin-right: 32px; }
          .today_wrap-item_inner-banner_inner {
            background-image: url("/img/banner.png");
            width: 175px;
            height: 100%; }
      .today_wrap-item:nth-child(1) {
        -ms-flex-preferred-size: 20%;
            flex-basis: 20%; }
      .today_wrap-item:nth-child(2) {
        -ms-flex-preferred-size: 80%;
            flex-basis: 80%; }
      .today_wrap-item_logo {
        height: 100%;
        width: 100%;
        position: relative; }
        .today_wrap-item_logo-inner {
          position: absolute;
          top: 50%;
          left: 50%;
          -ms-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
          background-image: url("/img/LOGO.png");
          background-repeat: no-repeat;
          width: 107.38px;
          height: 12.52px; }

/*# sourceMappingURL=main.css.map*/