.layout {
  max-width: 1100px;
  margin: 0 auto;
}

.today {
    border: 1px solid #e2e2e2;
    width: 100%;
    min-height: 250px;
    max-height: 250px;
    overflow: hidden;

  &_wrap {
    height: 100%;
    max-height: 250px;
    display: flex;

    &-item {
      height: 100%;
      width: 100%;

      &_inner {
        display: flex;

        &-item {
            height: 100%;

          &_cont {
            height: 100%;
            display: flex;
            flex-direction: column;

            &-link {
                display: flex;
                align-items: center;
                &_arrow {
                    background-repeat: no-repeat;
                    background-size: contain;
                    background-image: url('/img/arrow.png');
                    height: 10px;
                    width: 8px;
                    margin-left: 10px;
                }
            }

            &-title {
                padding-top: 20px;
                padding-bottom: 5px;

              &_item {
                font-family: Arial;
                font-weight: bold;
                font-size: 13px;
                line-height: 18px;
                color: #DC4700;
              }
            }

            &-head {
                &_item {
                    font-family: Arial;
                    font-weight: bold;
                    font-size: 24px;
                    line-height: 28px;
                    color: #000000;
                }
            }

            &-desc {
                padding-bottom: 44px;   
                
                &_item {
                    font-family: Arial;
                    font-size: 16px;
                    line-height: 18px;
                    color: #5E5E5E;
                }
            }

            &-tickets {
                display: inline-block;
                background: #FFE789;
                width: 73px;
                height: 26px;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                margin-bottom: 10px;

                &_item {
                    font-family: Helvetica Neue;
                    font-weight: bold;
                    font-size: 13px;
                    line-height: 16px;
                    text-align: center;
                    color: #000000;
                }
            }

            &-footer {
                font-family: Arial;
                font-style: normal;
                font-weight: normal;
                font-size: 15px;
                line-height: 25px;
                color: #000000;
                padding-bottom: 30px;
            }


          }
        }

        &-banner {
          margin-right: 32px;

          &_inner {
            background-image: url("/img/banner.png");
            width: 175px;
            height: 100%;
          }
        }
      }

      &:nth-child(1) {
        flex-basis: 20%;
      }
      &:nth-child(2) {
        flex-basis: 80%;
      }
      &_logo {
        height: 100%;
        width: 100%;
        position: relative;

        &-inner {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);

          background-image: url("/img/LOGO.png");
          background-repeat: no-repeat;
          width: 107.38px;
          height: 12.52px;
        }
      }
    }
  }
}
