body {
  padding: 0;
  margin: 0;
  height: 300vh;
}
.layout {
  max-width: 1100px;
  margin: 0 auto;
}



.smban {
  &_wrap {
    &-scroll {
      &_item {
        
      }
    }

    &-item {
        &_logo {}

        &_title {}
    }
  }
}